/* footer */

.footer__bg {
  background-color: #90D4C6;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 72px 24px;
}

.footer__logo{
  margin-bottom: 40px;
}

.footer__logo img {
  color: #458D7E;
  width: 170px;
  height: 33px;

}



.footer__navlist {
  display: flex;
  gap: 57px;
  margin-bottom: 88px;
}

.footer__navlist a {
  color: #458D7E;
  transition: .3s;
}

.footer__navlist a:hover {
  color: #fff;
}

.footer__sociallist {
  display: flex;
  gap: 28px;
}
.footer__socialitem:hover.footer__socialitem a svg path{
  fill: #fff;
}

.footer__socialitem a svg path {
  transition: .3s;
}

@media(max-width:400px) {
  .footer__bg {
    padding: 64px 24px 80px;
  }
}